<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Devices</ion-title>

  </ion-toolbar>
  <ion-segment [(ngModel)]="segment" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="all" checked>
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="moving">
      <ion-label>Moving</ion-label>
    </ion-segment-button>
    <ion-segment-button value="idling">
      <ion-label>Idling</ion-label>
    </ion-segment-button>
    <ion-segment-button value="stopped">
      <ion-label>Stopped</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <div [ngSwitch]="segment">
          <div *ngSwitchCase="'all'">
            <ion-card *ngFor="let veh of vehicleList; let i = index;" (click)="onVehDetail(veh)">
              <ion-row>
                <ion-col size="2" *ngIf="veh.vehicleType != null && veh.iconType != null">

                  <ion-img src="assets/imgs/red-car.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'car')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-car.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'car')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-car.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'car')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-car.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'car')&&(veh.status=='IDLING'))"></ion-img>

                  <ion-img src="assets/imgs/red-bus.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bus')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-bus.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bus')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-bus.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bus')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-bus.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bus')&&(veh.status=='IDLING'))"></ion-img>

                  <ion-img src="assets/imgs/red-truck.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'truck')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-truck.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'truck')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-truck.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'truck')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-truck.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'truck')&&(veh.status=='IDLING'))"></ion-img>

                  <ion-img src="assets/imgs/red-bike.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bike')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-bike.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bike')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-bike.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bike')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-bike.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bike')&&(veh.status=='IDLING'))"></ion-img>

                  <ion-img src="assets/imgs/red-tractor.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'tractor')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-tractor.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'tractor')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-tractor.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'tractor')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-tractor.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'tractor')&&(veh.status=='IDLING'))"></ion-img>
                </ion-col>

                <ion-col size="2" *ngIf="veh.vehicleType != null && veh.iconType == null">

                  <ion-img src="assets/imgs/red-car.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'car')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-car.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'car')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-car.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'car')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-car.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'car')&&(veh.status=='IDLING'))"></ion-img>

                  <ion-img src="assets/imgs/red-bus.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bus')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-bus.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bus')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-bus.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bus')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-bus.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bus')&&(veh.status=='IDLING'))"></ion-img>

                  <ion-img src="assets/imgs/red-truck.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'truck')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-truck.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'truck')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-truck.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'truck')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-truck.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'truck')&&(veh.status=='IDLING'))"></ion-img>

                  <ion-img src="assets/imgs/red-bike.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bike')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-bike.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bike')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-bike.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bike')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-bike.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'bike')&&(veh.status=='IDLING'))"></ion-img>

                  <ion-img src="assets/imgs/red-tractor.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'tractor')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-tractor.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'tractor')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-tractor.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'tractor')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-tractor.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.vehicleType.iconType == 'tractor')&&(veh.status=='IDLING'))"></ion-img>
                </ion-col>

                <ion-col size="2" *ngIf="veh.vehicleType == null && veh.iconType != null">

                  <ion-img src="assets/imgs/red-car.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'car')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-car.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'car')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-car.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'car')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-car.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'car')&&(veh.status=='IDLING'))"></ion-img>

                  <ion-img src="assets/imgs/red-bus.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'bus')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-bus.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'bus')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-bus.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'bus')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-bus.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'bus')&&(veh.status=='IDLING'))"></ion-img>

                  <ion-img src="assets/imgs/red-truck.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'truck')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-truck.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'truck')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-truck.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'truck')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-truck.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'truck')&&(veh.status=='IDLING'))"></ion-img>

                  <ion-img src="assets/imgs/red-bike.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'bike')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-bike.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'bike')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-bike.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'bike')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-bike.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'bike')&&(veh.status=='IDLING'))"></ion-img>

                  <ion-img src="assets/imgs/red-tractor.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'tractor')&&(veh.status=='STOPPED'))"> </ion-img>
                  <ion-img src="assets/imgs/green-tractor.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'tractor')&&(veh.status=='RUNNING'))"></ion-img>
                  <ion-img src="assets/imgs/blue-tractor.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'tractor')&&(veh.status=='OUT OF REACH'))"></ion-img>
                  <ion-img src="assets/imgs/yellow-tractor.png" title="{{veh.Device_Name}}"
                    *ngIf="((veh.iconType == 'tractor')&&(veh.status=='IDLING'))"></ion-img>
                </ion-col>
                <ion-col size="10">
                  <ion-row>
                    <ion-col size="12">
                      <p style="margin: 0px; padding: 0px; color: black;"><b>{{veh.Device_Name}}</b></p>
                    </ion-col>
                    <ion-col size="12">
                      <p style="margin: 0px; padding: 0px; font-size: 0.8em;">{{veh.status}} 45m |
                        {{veh.status_updated_at | date:'mediumDate'}}, {{veh.status_updated_at | date:'shortTime'}}</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" (appOnCreate)="device_address(veh, i)">
                  <p style="margin: 0px; padding: 0px; font-size: 0.9em;">{{veh.address}}</p>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
          <div *ngSwitchCase="'moving'">
            <ion-card *ngFor="let veh of vehicleList; let i = index;" (click)="onVehDetail(veh)">
              <ion-row>
                <ion-col size="2">
                  <img src="assets/imgs/green-car.png">
                </ion-col>
                <ion-col size="10">
                  <ion-row>
                    <ion-col size="12">
                      <p style="margin: 0px; padding: 0px; color: black;"><b>{{veh.Device_Name}}</b></p>
                    </ion-col>
                    <ion-col size="12">
                      <p style="margin: 0px; padding: 0px; font-size: 0.9em;">{{veh.status}} 45m |
                        {{veh.status_updated_at | date:'medium'}}</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" (appOnCreate)="device_address(veh, i)">
                  <p style="margin: 0px; padding: 0px; font-size: 0.9em;">{{veh.address}}</p>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
          <div *ngSwitchCase="'idling'">
            <ion-card *ngFor="let veh of vehicleList; let i = index;" (click)="onVehDetail(veh)">
              <ion-row>
                <ion-col size="2">
                  <img src="assets/imgs/yellow-car.png">
                </ion-col>
                <ion-col size="10">
                  <ion-row>
                    <ion-col size="12">
                      <p style="margin: 0px; padding: 0px; color: black;"><b>{{veh.Device_Name}}</b></p>
                    </ion-col>
                    <ion-col size="12">
                      <p style="margin: 0px; padding: 0px; font-size: 0.9em;">{{veh.status}} 45m |
                        {{veh.status_updated_at | date:'medium'}}</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" (appOnCreate)="device_address(veh, i)">
                  <p style="margin: 0px; padding: 0px; font-size: 0.9em;">{{veh.address}}</p>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
          <div *ngSwitchCase="'stopped'">
            <ion-card *ngFor="let veh of vehicleList; let i = index;">
              <ion-row>
                <ion-col size="2">
                  <img src="assets/imgs/red-car.png">
                </ion-col>
                <ion-col size="10">
                  <ion-row>
                    <ion-col size="12">
                      <p style="margin: 0px; padding: 0px; color: black;"><b>{{veh.Device_Name}}</b></p>
                    </ion-col>
                    <ion-col size="12">
                      <p style="margin: 0px; padding: 0px; font-size: 0.9em;">{{veh.status}} 45m |
                        {{veh.status_updated_at | date:'medium'}}</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" (appOnCreate)="device_address(veh, i)">
                  <p style="margin: 0px; padding: 0px; font-size: 0.9em;">{{veh.address}}</p>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="loading more data">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>