<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maintabs/tabs/vehicle-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{paramData.Device_Name}}</ion-title>
    <ion-buttons slot="primary" *ngIf="hideplayback">
      <ion-icon color="dark" name="rewind" style="font-size:19px;margin-top:11px;margin-right: 17px"
        ></ion-icon>
      <ion-icon color="dark" name="arrow-dropright-circle" style="font-size:24px;margin-top:10px;margin-right: 15px"
        class="play" *ngIf="!playing" (click)="Playback()"></ion-icon>
      <ion-icon color="dark" name="pause" style="font-size:24px;margin-top:10px;margin-right: 15px" class="pause"
        *ngIf="playing" (click)="Playback()"></ion-icon>
      <ion-icon color="dark" name="fastforward" style="font-size:19px;margin-top:11px;margin-right: 17px"
        ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map_canvas" style="height:100%;"></div>
</ion-content>
<ion-footer>
  <ion-row style="background-color: #dfdfdf; padding: 0px !important;">
    <ion-col size="6" style="padding: 0px">
      <p style="color:black;font-size:14px; text-align:center;">
        <ion-icon name="time" style="color:#33cd5f;font-size:15px;"></ion-icon>&nbsp;
        <span *ngIf="updatetimedate">{{ updatetimedate }}&nbsp;</span>
        <span *ngIf="!updatetimedate">0:0&nbsp;</span>
      </p>
    </ion-col>

    <ion-col size="6" style="padding: 0px">
      <p style="color:black;font-size:14px;text-align:center;">
        <ion-icon name="speedometer" style="color:#cd4343"></ion-icon>&nbsp;
        <span *ngIf="speedMarker">{{ speedMarker }} km/h</span>
        <span *ngIf="!speedMarker">0 km/h</span>
      </p>
    </ion-col>
  </ion-row>
</ion-footer>
