<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>Reports</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <ion-item detail [routerLink]="['/','maintabs','tabs','reports','Overspeed']"
            routerLinkActive="router-link-active">
            <ion-icon name="speedometer" slot="start"></ion-icon>
            <ion-label>Overspeed</ion-label>
        </ion-item>
        <ion-item detail [routerLink]="['/','maintabs','tabs','reports','Stoppage']"
            routerLinkActive="router-link-active">
            <ion-icon name="stopwatch" slot="start"></ion-icon>
            <ion-label>Stoppage</ion-label>
        </ion-item>
        <ion-item detail [routerLink]="['/','maintabs','tabs','reports','Summary']"
        routerLinkActive="router-link-active">
            <ion-icon name="car" slot="start"></ion-icon>
            <ion-label>Summary</ion-label>
        </ion-item>
        <ion-item detail [routerLink]="['/','maintabs','tabs','reports','Trip']"
        routerLinkActive="router-link-active">
            <ion-icon name="menu" slot="start"></ion-icon>
            <ion-label>Trip Report</ion-label>
        </ion-item>
    </ion-list>
</ion-content>