<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maintabs/tabs/vehicle-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col size-sm="6" offset-sm="3">
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input type="text"  required placeholder="Enter name">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Interval Type</ion-label>
                    <ion-input type="text" required placeholder="    " value="Time" readonly>
                    </ion-input>
                </ion-item>

                <!-- <ion-item>
                    <ion-label position="floating">Interval</ion-label>
                    <ion-input type="password" ngModel name="password" required #passwordCtrl="ngModel"
                        placeholder="    ">
                        1
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <ion-select slot="end">
                            <ion-select-option value="enable" selected>Year(s)</ion-select-option>
                            <ion-select-option value="mute">Month(s)</ion-select-option>
                            <ion-select-option value="mute_week">Day(s)</ion-select-option>
                        </ion-select>
                    </ion-input>

                </ion-item> -->
                <ion-row>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating">Interval</ion-label>
                            <ion-input type="number" required placeholder="    " value="1">
                           
                            </ion-input>
                        </ion-item>

                    </ion-col>
                    <ion-col size="6">
                            <ion-item>
                              <ion-select>
                                <ion-select-option  selected>Year(s)</ion-select-option>
                                <ion-select-option >Month(s)</ion-select-option>
                                <ion-select-option >Day(s)</ion-select-option>
                            </ion-select>
                              </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating">Next Service</ion-label>
                            <ion-datetime value="1990-02-20" placeholder="Select Date">
                            </ion-datetime>
                        </ion-item>

                    </ion-col>
                    <ion-col size="6">
                            <ion-item>
                                    <ion-label position="floating">Last Service</ion-label>
                                    <ion-datetime value="1990-02-20" placeholder="Select Date">
                                    </ion-datetime>
                                </ion-item>
                    </ion-col>
                </ion-row>



                    <ion-item>
                            <ion-label position="floating">Remind Me When List</ion-label>
                            <ion-input type="number" required placeholder="    " value="10">
                                
                            </ion-input>
                    </ion-item>

                    <ion-item>
                            <ion-label line="none">Blueberry</ion-label>
                            <ion-toggle slot="end" name="blueberry" checked></ion-toggle>
                    </ion-item>
                <br>
                <ion-button expand="block" style="color:white">Save</ion-button>
            </ion-list>
        </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
      <ion-select>
        <ion-select-option>Year</ion-select-option>
        <ion-select-option>Month</ion-select-option>
        <ion-select-option selected>Day</ion-select-option>
      </ion-select>
    </ion-item>
</ion-content>