ion-grid {
    background-color: rgb(164, 164, 248);
}
.support{
    margin: 0px auto;
}
h6 {
    font-size: 13px;
    padding: 6px;
    margin-left: -64px;
    margin-top: 28px;
    color: grey
    }
ion-label {
    margin-top: inherit;
}
.mail {
margin-left: -79px;
}
