<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Support</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maintabs/tabs/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-row>
          
          <ion-col size="12">
            <div class="support">
              <div style="text-align: center;">

                <img src="assets/Images/user-image-.png" style="height: 94px;">

                <ion-title style="color: white">{{userdetails.account}}</ion-title>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-list lines="none" style="margin-top: 5px;">
          <ion-item>
            <ion-icon name="call" size="large"></ion-icon>
            <p style="margin-top: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;Chat On</p>
            <h6>Whatsapp</h6>
            <ion-icon name="logo-whatsapp" slot="end"></ion-icon>
          </ion-item>
          <ion-item ion-nopadding>
            <ion-label style="margin-top: auto;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{userdetails.phn}}</ion-label>
            <ion-icon name="phone-portrait"></ion-icon>
          </ion-item>
          <ion-item ion-nopadding>
            <ion-icon name="mail" size="large"></ion-icon>
            <p style="margin-top: initial;">&nbsp;&nbsp;&nbsp;&nbsp;{{userdetails.email}}</p>
            <div class="mail">
              <h6 style="margin-left: -110px;">email</h6>
            </div>
          </ion-item>
          <ion-item>
            <ion-icon name="pin" size="large"></ion-icon>
            <p style="margin-top: initial;">&nbsp;&nbsp;&nbsp;&nbsp;Pune, Maharashtra</p>
            <div class="mail">
              <h6>Address</h6>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
