<ion-content>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3"> -->
        <div #map id="map_canvas" style="height:100%;">
          <ion-back-button style="float: left;" icon="close" defaultHref="/maintabs/tabs/dashboard"></ion-back-button>
          <ion-button style="float: right" fill="clear" color="dark" (click)="onMapChange()">
            <ion-icon slot="icon-only" name="map"></ion-icon>
          </ion-button>
        </div>
      <!-- </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>