// ._gmaps_cdv_ .nav-decor {
//   background-color: transparent !important;
// }

// ._gmaps_cdv_ .ion-page:not(._gmaps_cdv_),
// ._gmaps_cdv_ ion-modal:not(._gmaps_cdv_) {
//     display: none;
// }
#map_canvas {
  // width: 100%;
  height: 90%;
  // height: 90%;
  // width: 150px;
  // height: 150px;
  // border: 1px solid red;
}
