<ion-content>
  <div class="warning">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
            <ion-img src="assets/icon.png" style="width: 120px; margin: auto">
            </ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-list style="background-color: transparent;">
              <ion-item style="color: #fff;">
                <ion-label position="floating">E-Mail / Mobile Number</ion-label>
                <ion-input type="text" ngModel name="email" required #emailCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item style="color: #fff;">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" ngModel name="password" required #passwordCtrl="ngModel">
                </ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-button color="primary" type="button" fill="clear" expand="block" (click)="onSwitchAuthMode()">Switch To
              {{ isLogin ? "Signup" : "Login" }}</ion-button>
            <ion-button color="primary" type="submit" expand="block" [disabled]="!f.valid">Login
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Devdactic Auth</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-row>
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
      offset-xl="4">

      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Your Account</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-item lines="none">
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="credentials.email"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="credentials.pw">
            </ion-input>
          </ion-item>

          <ion-button (click)="login()" expand="block">Login</ion-button>
          <ion-button expand="block" color="secondary" routerLink="/register" routerDirection="forward">Register
          </ion-button>

        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

</ion-content> -->