
.warning {
    position: absolute;
    // padding: 20% 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.65);
    color: #fff;
    // backdrop-filter: contrast(4) blur(10px);
}
ion-content {

  --background: #fff
    url("../../assets/tendencias-en-innovacion-tecnologica-y-proptechs-inmobiliarias-533x337xsmart-cities-opt.jpg.pagespeed.ic_.zsvuwxwqfv-2018-03-02_12-58-50_266848.jpg")
    no-repeat center center / cover;
}

ion-item {
  --ion-background-color: transparent;
}
