<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Configure</ion-title>
    <ion-buttons slot="start"> <ion-back-button defaultHref="/maintabs/tabs/settings"></ion-back-button> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <h3>MH12 67GH 1234</h3>
        <span>Configure Alerts</span>
        <!-- <ion-list-header>Characters</ion-list-header> -->
        <ion-item>
            <ion-icon name="battery-full"></ion-icon>
          <ion-label> &nbsp;&nbsp;&nbsp;&nbsp;Battery Disconnection</ion-label>
          <ion-checkbox color="primary" checked slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-icon name="pause"></ion-icon>
            <ion-label> &nbsp;&nbsp;&nbsp;&nbsp;Idle Alert</ion-label>
            10.0 Min
            <ion-checkbox color="primary"  slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-icon name="power"></ion-icon>
            <ion-label> &nbsp;&nbsp;&nbsp;&nbsp;Ignition</ion-label>
            <ion-checkbox color="primary" checked slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-icon name="battery-dead"></ion-icon>
            <ion-label> &nbsp;&nbsp;&nbsp;&nbsp;Low Battery</ion-label>
            <ion-checkbox color="primary"  slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-icon name="speedometer"></ion-icon>
            <ion-label> &nbsp;&nbsp;&nbsp;&nbsp;Overspeed</ion-label>
            50.0 km/h
            <ion-checkbox color="primary" checked slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
                <!-- <img src="assets/Images/sos-icon.jpg"> -->
            <ion-icon name="remove-circle-outline"></ion-icon>    
            <ion-label> &nbsp;&nbsp;&nbsp;&nbsp;SOS</ion-label>
            <ion-checkbox color="primary" checked slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-icon name="construct"></ion-icon>
            <ion-label> &nbsp;&nbsp;&nbsp;&nbsp;TOWING</ion-label>
            <ion-checkbox color="primary" checked slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-icon name="phone-portrait"></ion-icon>
            <ion-label> &nbsp;&nbsp;&nbsp;&nbsp;Vibration</ion-label>
            <ion-checkbox color="primary"  slot="end"></ion-checkbox>
        </ion-item>
    </ion-list>    
</ion-content>
