<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start"> <ion-back-button defaultHref="/maintabs/tabs/settings"></ion-back-button> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-list>
                <ion-item>
                    <ion-label position="floating">CURRENT PASSWORD</ion-label>
                    <ion-input type="password" ngModel name="password" required #passwordCtrl="ngModel" placeholder="Current Password">
                    </ion-input>
                </ion-item>
              <!-- <ion-item *ngIf="!textCtrl.valid && textCtrl.touched" lines="none">
                <ion-label>Should be a valid email address.</ion-label>
              </ion-item> -->
              <ion-item>
                <ion-label position="floating">NEW PASSWORD</ion-label>
                <ion-input type="password" ngModel name="password" required #passwordCtrl="ngModel" placeholder="New Password">
                </ion-input>
              </ion-item>
              <!-- <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
                <ion-label>Should atleast be 6 characters long.</ion-label>
              </ion-item> -->
              <ion-item>
                  <ion-label position="floating">VERIFY PASSWORD</ion-label>
                  <ion-input type="password" ngModel name="password" required #passwordCtrl="ngModel" placeholder="New Password">
                  </ion-input>
                </ion-item>
                <br>
                <ion-button expand="block" style="color:white">Change Passsword</ion-button>
          </ion-list>
          </ion-col>
        </ion-row>
    </ion-grid>  
</ion-content>
