<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maintabs/tabs/reports">

      </ion-back-button>
    </ion-buttons>
    <ion-title>{{report_name}} Report</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col size="5" no-padding>
      <ion-row>
        <ion-col size="3" style="padding: 5px 0px 5px 0px;">
          <ion-icon style="font-size: 2.5em; margin: 0px; padding: 0px;" name="clock" color="medium"></ion-icon>
        </ion-col>
        <ion-col size="9" no-padding>
          <ion-row>
            <ion-col>
              <ion-label style="font-size: 0.9em">From Date</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a"
                [(ngModel)]="datetimeStart" style="padding: 0px;font-size:9px;color: #2ec95c;">
              </ion-datetime>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="5" no-padding>
      <ion-row>
        <ion-col size="3" style="padding: 5px 0px 5px 0px;">
          <ion-icon style="font-size: 2.5em; margin: 0px; padding: 0px;" name="clock" color="medium"></ion-icon>
        </ion-col>
        <ion-col size="9" no-padding>
          <ion-row>
            <ion-col>
              <ion-label style="font-size: 0.9em">To Date</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
                style="padding: 0px;font-size:9px;color: #dc0f0f;">
              </ion-datetime>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="2" no-padding>
      <div style="margin-top: 9px; float: right">
        <ion-icon color="medium" ios="ios-search" md="md-search" style="font-size:2.3em;"
          (click)="getReport(report_name);"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card *ngFor="let overdata of overspeedReport">
          <ion-card-header>
            <ion-row>
              <ion-col size="2">
                <ion-img src="assets/imgs/red-car.png"> </ion-img>
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12">
                    <p style="margin: 0px; padding: 0px; color: black;"><b>{{overdata.vehicleName}}</b></p>
                  </ion-col>
                  <ion-col size="12">
                    <p style="margin: 0px; padding: 0px; font-size: 0.8em;">
                      <ion-icon ios="ios-speedometer" md="md-speedometer" style="color:#e14444;"></ion-icon>
                      &nbsp;&nbsp;{{overdata.overSpeed}}
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-card-subtitle>{{overdata.StartLocation}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>

        <ion-card *ngFor="let stopdata of stoppageReport">
          <ion-card-header class="ion-no-padding">
            <ion-row>
              <ion-col size="2">
                <ion-img src="assets/imgs/red-car.png"> </ion-img>
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12">
                    <p style="margin: 0px; padding: 0px; color: black;"><b>{{stopdata.device}}</b></p>
                  </ion-col>
                  <ion-col size="12">
                    <p style="margin: 0px; padding: 0px; font-size: 0.8em;">
                      Duration - {{stopdata.Durations}}
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-row>
                  <ion-col size="2">
                    <ion-icon ios="ios-time" md="md-time" style="color:#5edb82; font-size: 15px;"></ion-icon>
                  </ion-col>
                  <ion-col size="10">
                    <p style="margin: 0px; padding: 0px;font-size: 0.8em;">{{stopdata.arrival_time | date: 'short'}}</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="6">
                <ion-row>
                  <ion-col size="2">
                    <ion-icon ios="ios-time" md="md-time" style="color:#ee7272; font-size: 15px;"></ion-icon>
                  </ion-col>
                  <ion-col size="10">
                    <p style="margin: 0px; padding: 0px;font-size: 0.8em;">{{stopdata.departure_time | date: 'short'}}
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col size="12">
                  <p style="margin: 0px; padding: 0px;font-size: 0.8em;">{{stopdata.EndLocation}}</p>
              </ion-col>
            </ion-row> -->
            <ion-card-subtitle style="padding-left: 14px; padding-bottom: 5px;">{{stopdata.EndLocation}}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>

        <ion-card *ngFor="let summarydata of summaryReport">
          <ion-card-header class="ion-no-padding">
            <ion-row>
              <ion-col size="2">
                <ion-img src="assets/imgs/red-car.png"> </ion-img>
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12">
                    <p style="margin: 0px; padding: 0px; color: black;"><b>{{summarydata.Device_Name}}</b></p>
                  </ion-col>
                  <ion-col size="12">
                    <p style="margin: 0px; padding: 0px; font-size: 0.8em;">
                      Trips - {{summarydata.tripCount}}
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-row style="padding-top: 12px;">
              <ion-col size="4">
                <p class="para">
                  <span *ngIf="summarydata.ignOn">{{ summarydata.ignOn }}</span>
                  <span *ngIf="!summarydata.ignOn">00.00</span>&nbsp;
                </p>
                <p style="color:#53ab53;font-size:11px;font-weight: 350;">
                  Running
                </p>
              </ion-col>
              <ion-col size="4">
                <p class="para">
                  <span *ngIf="summarydata.ignOff">{{ summarydata.ignOff }}</span>
                  <span *ngIf="!summarydata.ignOff">00.00</span>&nbsp;
                </p>
                <p style="text-align:left;font-size: 11px;color:red;font-weight:350;">
                  Stop
                </p>
              </ion-col>
              <ion-col class="ion-text-center" size="4">
                <p class="para">
                  <span *ngIf="summarydata.distance">{{
                      summarydata.distance | number: "1.0-2"
                      }}</span>
                  <span *ngIf="!summarydata.distance">00.00</span>&nbsp;
                </p>
                <p style="text-align:left;font-size: 11px;color:#11c1f3;font-weight:350;">
                  Total Kms
                </p>
              </ion-col>
            </ion-row>
            <ion-row style="padding-top: 5px;">
              <ion-col size="4">
                <p class="para">
                  <span *ngIf="summarydata.overspeeds">{{ summarydata.overspeeds }}</span>
                  <span *ngIf="!summarydata.overspeeds">00.00</span>&nbsp;
                </p>
                <p style="color:#53ab53;font-size:11px;font-weight: 350;">Overspeeding</p>
              </ion-col>
              <ion-col size="4">
                <p class="para">
                  <span *ngIf="summarydata.routeViolations">{{ summarydata.routeViolations }}&nbsp;Km/h</span>
                  <span *ngIf="!summarydata.routeViolations">0 kms</span>&nbsp;
                </p>
                <p style="text-align:left;font-size: 11px;color:red;font-weight:350;">Route Violation</p>
              </ion-col>
              <ion-col size="4">
                <p class="para">
                  <span>{{ summarydata.mileage }}</span>
                </p>

                <p style="text-align:left;font-size: 11px;color:#11c1f3;font-weight:350;">Fuel Con(L)</p>
              </ion-col>
            </ion-row>

            <ion-row style="padding-top: 5px;">
              <ion-col size="1">
                <ion-icon name="pin" style="color:#33c45c; font-size:15px;"></ion-icon>
              </ion-col>
              <ion-col size="11" style="color:gray;font-size:11px;font-weight: 400;">
                {{ summarydata.StartLocation }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1">
                <ion-icon name="pin" style="color:#e14444;font-size:15px;"></ion-icon>
              </ion-col>
              <ion-col size="11" style="color:gray;font-size:11px;font-weight: 400;">
                {{ summarydata.EndLocation }}
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <ion-card *ngFor="let tripdata of tripReport">
          <ion-card-header class="ion-no-padding">
            <ion-row>
              <ion-col size="6">
                <p style="margin: 0px; padding: 0px; color: black;"><b>{{tripdata.Device_Name}}</b></p>
              </ion-col>
              <ion-col size="6" style="text-align: right">
                <ion-badge color="tertiary">{{tripdata.distance | number : '1.0-2'}} km</ion-badge>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-row>
              <ion-col size="8">
                <ion-row style="height: 33px; overflow: hidden;text-overflow: ellipsis;">
                  <ion-col size="1">
                    <ion-icon name="pin" color="secondary" style="font-size: 15px;"></ion-icon>
                  </ion-col>
                  <ion-col size="11" style="font-size: 11px">
                    {{tripdata.StartLocation}}
                  </ion-col>
                </ion-row>
                <ion-row style="height: 33px; overflow: hidden;text-overflow: ellipsis;">
                  <ion-col size="1">
                    <ion-icon name="pin" color="danger" style="font-size: 15px;"></ion-icon>
                  </ion-col>
                  <ion-col size="11" style="font-size: 11px">
                    {{tripdata.EndLocation}}
                  </ion-col>
                </ion-row>

              </ion-col>
              <ion-col size="4">
                <ion-img src="assets/Images/5Jzwb.png"></ion-img>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-row style="background-color:#f2f2f2; padding-top:5px; padding-bottom: 5px" padding-left padding-right>
            <ion-col size="6" style=" color:gray; font-weight: bold; text-align: left;">{{tripdata.Startdate}}</ion-col>
            <ion-col size="6" style=" color:gray; font-weight: bold; text-align: right;" *ngIf="tripdata.duration">
              DURATION&nbsp;{{tripdata.duration}}</ion-col>
            <ion-col size="6" style=" color:gray; font-weight: bold; text-align: right;" *ngIf="!tripdata.duration">
              DURATION&nbsp;0hrs 0mins</ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>