<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user">
    <ion-card-content>
      {{ user.email }} - {{ user.first_name }} {{ user.last_name }}
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="logout()">Logout</ion-button>

</ion-content> -->
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-row>
          <ion-col size="6" ion-no-padding (click)="gotoDetail('moving')">
            <ion-card ion-no-padding style="background-image: linear-gradient(to right bottom, #246718, #367618, #498515, #5d9511, #73a408);">
              <ion-row ion-no-padding>
                <ion-col size="4">
                  <ion-icon color="medium" name="play" style="font-size: 2.5em"></ion-icon>
                </ion-col>
                <ion-col size="8">
                  <ion-row>
                    <ion-col size="12">
                      <p style="color:#fff; font-size: 1.4em; margin: 0px;padding: 0px">{{dashdata['running_devices']}}</p>
                    </ion-col>
                    <ion-col size="12">
                      <p style="color:#fff; font-size: 0.7em;margin: 0px;padding: 0px">MOVING</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
          <ion-col size="6" ion-no-padding (click)="gotoDetail('idling')">
            <ion-card ion-no-padding style="background-image: linear-gradient(to right bottom, #ac3c0f, #be5c04, #cb7b00, #d59b00, #dabc0c);">
              <ion-row ion-no-padding>
                <ion-col size="4">
                  <ion-icon color="medium" name="pause" style="font-size: 2.5em"></ion-icon>
                </ion-col>
                <ion-col size="8">
                  <ion-row>
                    <ion-col size="12">
                      <p style="color:#fff; font-size: 1.4em; margin: 0px;padding: 0px">{{dashdata['Ideal Devices']}}</p>
                    </ion-col>
                    <ion-col size="12">
                      <p style="color:#fff; font-size: 0.7em;margin: 0px;padding: 0px">IDLING</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" ion-no-padding (click)="gotoDetail('all')">
            <ion-card ion-no-padding style="background-image: linear-gradient(to right bottom, #111293, #1c359d, #3450a1, #5068a2, #7080a0);">
              <ion-row ion-no-padding>
                <ion-col size="4">
                  <ion-icon src="assets/imgs/icon/parking-sign.svg" style="font-size: 2.5em"></ion-icon>
                </ion-col>
                <ion-col size="8">
                  <ion-row>
                    <ion-col size="12">
                      <p style="color:#fff; font-size: 1.4em; margin: 0px;padding: 0px">{{dashdata['OutOfReach']}}</p>
                    </ion-col>
                    <ion-col size="12">
                      <p style="color:#fff; font-size: 0.7em;margin: 0px;padding: 0px">OUT OF REACH</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
          <ion-col size="6" ion-no-padding (click)="gotoDetail('stopped')">
            <ion-card ion-no-padding style="background-image: linear-gradient(to right bottom, #a40903, #b02625, #ba3d41, #c0525b, #c46673);">
              <ion-row ion-no-padding>
                <ion-col size="4">
                  <ion-icon src="assets/imgs/icon/no-stopping.svg" style="font-size: 2.5em"></ion-icon>
                </ion-col>
                <ion-col size="8">
                  <ion-row>
                    <ion-col size="12">
                      <p style="color:#fff; font-size: 1.4em; margin: 0px;padding: 0px">{{dashdata['OFF Devices']}}</p>
                    </ion-col>
                    <ion-col size="12">
                      <p style="color:#fff; font-size: 0.7em;margin: 0px;padding: 0px">STOPPED</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card style="height: 250px" ion-no-padding>
          <div #mapElement id="map_canvas"></div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>