ion-card {
  background-color: #f7f7f7;
  border: solid 1px #ddd;
  padding: 9px;
  height: 85px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  text-align: end;
  font-size: medium;
  font-family: initial;
}
.d {
  margin-left: 20px;
  margin-top: 10px;
}
ion-item {
  --background: transparent;
}
// ion-icon {
//     margin-right: 66px;
//     size: "large"
// }
#map_canvas {
  width: 100%;
  height: 100%;
}

#map_canvas div.gm-style > button[title="Toggle fullscreen view"] {
  display: none;
}
