<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding: initial;">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list *ngFor="let p of notification" style="padding: initial">
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/Images/sos.png" *ngIf="p.type == 'SOS'" />
              <img src="assets/Images/speedlimit.png" *ngIf="p.type == 'overspeed'" />
              <img src="assets/Images/geofence.jpg" *ngIf="p.type == 'Geo-Fence'" />
              <img src="assets/Images/ignition-switch-icon.jpg" *ngIf="p.type == 'IGN'" />
              <img src="assets/Images/car2.png" *ngIf="p.type == 'route-poi'" />
              <img src="assets/imgs/petrolpump4.jpg" *ngIf="p.type == 'Fuel'" />
              <img src="assets/Images/system_status-noun_63767_cc.png" *ngIf="p.type == 'status'" />
              <img src="assets/Images/AccurateMapping.jpg" *ngIf="p.type == 'Route'" />
              <img src="assets/Images/397px-Snow_flake.svg.png" *ngIf="p.type == 'AC'" />
              <img src="assets/Images/power-png-icon-6.png" *ngIf="p.type == 'power'" />
              <img src="assets/Images/key_orange.jpg" *ngIf="p.type == 'immo'" />
              <img src="assets/Images/342e07b3a6f1628afd14c9b4e6c93afe_icon.png" *ngIf="p.type == 'theft'" />
            </ion-avatar>
            <p slot="end" style="font-size: smaller;
                  color: grey; margin-right: -96px; margin-bottom: auto;">{{p.timestamp | date: "mediumDate"}}</p>
            <ion-label>
              <h3>{{p.type}}</h3>
              <p>{{p.item.sentence}}</p>
            </ion-label>
            <p slot="end" style="margin-bottom: -21px;
                  font-size: smaller;color: gray; margin-bottom: unset;">{{p.timestamp | date: "shortTime"}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>